DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=veloxrent-files
JWT_SECRET=
JWT_EXPIRES_IN=8h
NUBEFACT_API_URL=https://api.nubefact.com/api/v1
NUBEFACT_API_TOKEN=
NUBEFACT_RUC=20613724754
NODE_ENV=development
PORT=3000
